<div class="row" data-target="admin--catalog.container">
</div>

<div class="kt-hidden" data-target="admin--catalog.empty">
  <div class="kt-portlet kt-portlet--height-fluid">
    <div class="kt-portlet__body kt-align-center">
      <%= t('admin.component.grids.empty') %>
    </div>
  </div>
</div>
