.toolbar{
  .toolbar-search{
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;

    .form-control{
      height: 44px;
      border: none;
      background-color: #f5f6f9;
    }
    .form-control:not(:last-child){
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .input-group-text{
      border: none;
      background-color: #f5f6f9;
      padding: 0 1rem 0 1rem;
    }
  }
}
