<div data-controller="admin--catalog" data-admin--catalog-url="<%= url %>">
  <div data-target="admin--catalog.toolbar">
    <%= render toolbar if toolbar %>
  </div>
  <%= render container %>
  <%= render pagination %>
</div>
