<li class="kt-nav__custom kt-space-between">
  <%= link_to t('admin.component.header_items.user_item.sign_out'), destroy_admin_user_session_path, method: 'delete', class: 'btn btn-label-brand btn-upper btn-sm btn-bold' %>
</li>
