<% if alert %>
  <div class="alert alert-<%= type %> alert-bold alert-system" role="alert" data-controller="admin--alert-system">
    <div class="alert-text"><%= alert %></div>
    <div class="alert-close">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="la la-close"></i></span>
      </button>
    </div>
  </div>
<% end %>
