<!--begin::Item-->
<div class="kt-grid__item">
  <div class="kt-login-v2__footer">
    <div class="kt-login-v2__link">
      <%= link_to t('admin.component.footer.support.text'), t('admin.component.footer.support.link'), class: 'kt-link kt-font-brand' %>
    </div>
    <div class="kt-login-v2__info">
      <%= link_to t('admin.component.footer.brand.text'), t('admin.component.footer.brand.link'), class: 'kt-link' %>
    </div>
  </div>
</div>
<!--end::Item-->
