<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-footer__copyright">
      <%= link_to t('admin.component.footer.brand.text'), t('admin.component.footer.brand.link'), class: 'kt-link' %>
    </div>
    <div class="kt-footer__menu">
      <% items.each do |item| %>
        <%= render item %>
      <% end %>
    </div>
  </div>
</div>
<!-- end:: Footer -->
