<li class="kt-nav__item <%= 'active' if active %>">
  <%= link_to url, class: 'kt-nav__link', role: 'tab' do %>
    <span class="kt-nav__link-icon"><i class="<%= icon %>"></i></span>
    <span class="kt-nav__link-text"><%= text %></span>
  <% end %>
</li>
