<div class="alert alert-solid-danger alert-bold" role="alert">
  <% errors.each do |key, value| %>
    <% if key == "alert" %>
      <div class="alert-text"><%= t value %></div>
      <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
