<% if show %>
  <li class="kt-menu__item kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
      <i class="kt-menu__link-icon <%= icon %>"></i>
      <span class="kt-menu__link-text"><%= text %></span>
      <i class="kt-menu__ver-arrow la la-angle-right"></i>
    </a>
  	<div class="kt-menu__submenu " style="" kt-hidden-height="200">
      <span class="kt-menu__arrow"></span>
  		<ul class="kt-menu__subnav">
        <% items.each do |item| %>
          <%= render item %>
        <% end %>
  		</ul>
  	</div>
  </li>
<% end %>
