<% if show %>
  <li class="kt-menu__item " aria-haspopup="true">
    <%= link_to url, class: "kt-menu__link" do %>
      <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
        <span></span>
      </i>
      <span class="kt-menu__link-text"><%= text %></span>
    <% end %>
  </li>
<% end %>
