<td class="kt-padding-20 kt-datatable__cell">
  <span>
    <span class="kt-badge kt-badge--<%= type %> kt-badge--dot"></span>
    &nbsp;
    <span class="kt-font-bold kt-font-<%= type %>"><%= text %></span>
  </span>
</td>
