<li class="kt-nav__item">
  <%= link_to url, class: 'kt-nav__link' do %>
    <span class="kt-nav__link-icon"><i class="<%= icon %>"></i></span>
    <span class="kt-nav__link-text"><%= text %></span>
  <% end %>
</li>
