<div class="row">
  <div class="col-xl-8">
    <%= render Admin::Forms::SimpleFormComponent.new(
              title: title,
              resource: resource,
              alerts: flash[:errors],
              fields: [
                  Admin::Forms::Fields::SelectComponent.new(
                    :admin_user_id,
                    label: t('admin.page.cases.form.admin_user_id.label'),
                    values: AdminUser.all.map{ |u| [u.username, u.id] },
                    include_blank: true,
                    placeholder: t('admin.page.cases.form.admin_user_id.placeholder')
                  ),
                  Admin::Forms::Fields::TextComponent.new(
                    :program,
                    label: t('admin.page.cases.form.program.label'),
                    placeholder: t('admin.page.cases.form.program.placeholder')
                  ),
                  Admin::Forms::Fields::TextComponent.new(
                    :name,
                    label: t('admin.page.cases.form.name.label'),
                    placeholder: t('admin.page.cases.form.name.placeholder')
                  ),
                  Admin::Forms::Fields::AutosizeAreaComponent.new(
                    :description,
                    label: t('admin.page.cases.form.description.label'),
                    placeholder: t('admin.page.cases.form.description.placeholder')
                  ),
                  Admin::Forms::Fields::TagifyComponent.new(
                    :tags,
                    label: t('admin.page.cases.form.tags.label'),
                    placeholder: t('admin.page.cases.form.tags.placeholder')
                  ),
                  Admin::Forms::Fields::SelectComponent.new(
                    :status,
                    label: t('admin.page.cases.form.status.label'),
                    values: Case.statuses.keys,
                    include_blank: true,
                    placeholder: t('admin.page.cases.form.status.placeholder')
                  ),
              ],
              actions: [
                Admin::Forms::Actions::ReturnButtonComponent.new(url: admin_cases_path),
                Admin::Forms::Actions::CancelButtonComponent.new,
                Admin::Forms::Actions::SaveButtonComponent.new
              ]) %>
  </div>
  <div class="col-4">

  </div>
</div>
