<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
  <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
    <span class="kt-menu__link-text"><%= text %></span>
    <i class="kt-menu__hor-arrow la la-angle-down"></i>
    <i class="kt-menu__ver-arrow la la-angle-right"></i>
  </a>
  <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
    <ul class="kt-menu__subnav">
      <% items.each do |item| %>
        <%= render item %>
      <% end %>
    </ul>
  </div>
</li>
